---
import AllBlogs from "../components/AllBlogs.astro";
import Header from "../components/Header.astro";
// import { Highstorm } from "@highstorm/client";

// const highstorm = new Highstorm({token: import.meta.env.HIGHSTORM_TOKEN})

// TURN ON FOR METRICS
// await highstorm.ingest("blog.visits", {
//   event: "Blog visit"
// })
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header/>
		<AllBlogs/>
	</body>
</html>
